<div class="inGameBrowser-Browser" data-bind="attr: { id: 'inGameBrowser-' + id() }">
	<div class="inGameBrowser-BrowserTopBar">
		<form>
			<input class="inGameBrowser-URLInput" type='text' data-bind="value: url(), click: function(){ $('#inGameBrowser-' + id() + ' .inGameBrowser-URLInput').select() }">

			<input class="inGameBrowser-URLGo" value="Go" type="submit" data-bind="click: function(){ setURL($('#inGameBrowser-' + id() + ' .inGameBrowser-URLInput').val()); }"/>
		</form>
	</div>

		<iframe seamless="true" class='inGameBrowser-BrowserIframe' data-bind="attr: { src: url }" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
</div>
